<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mallelectron.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.example.mallelectron.domain.Order">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="goodsId" column="goods_id" jdbcType="INTEGER"/>
            <result property="customerId" column="customer_id" jdbcType="INTEGER"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="alipayNo" column="alipay_no" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,goods_id,customer_id,
        order_no,create_time,quantity,status,
        alipay_no,
    </sql>
    <select id="getList" resultType="com.example.mallelectron.dto.OrderDto">
        select `order`.id, goods_id, g.name goodsName, cover goodsCover, price, c.name customerName,`order`.status, customer_id, order_no,g.code businessCode, `order`.create_time, quantity, alipay_no from `order`
        left join customer c on c.id = `order`.customer_id
        left join goods g on g.id = `order`.goods_id
        <where>
            <if test="orderParam.goodsName != null and orderParam.goodsName != ''">
               and g.name = #{orderParam.goodsName}
            </if>
            <if test="orderParam.businessCode != null and orderParam.businessCode != ''">
                and g.code = #{orderParam.businessCode}
            </if>
            <if test="orderParam.startTime != null">
                and `order`.create_time > #{orderParam.startTime}
            </if>
            <if test="orderParam.endTime != null">
                and `order`.create_time &lt; #{orderParam.endTime}
            </if>
            <if test="orderParam.status != null">
                and  `order`.status = #{orderParam.status}
            </if>
        </where>
        order by `order`.create_time desc
    </select>

    <select id="selectByOrder" resultType="com.example.mallelectron.dto.OrderDto">
        select `order`.id, goods_id, g.name goodsName, cover goodsCover, price, c.name customerName,`order`.status, customer_id, order_no,g.code businessCode, `order`.create_time, quantity, alipay_no from `order`
        left join customer c on c.id = `order`.customer_id
        left join goods g on g.id = `order`.goods_id
        where order_no = #{orderNo}

    </select>

    <delete id="deleteByOrderNo">
        delete
        from `order`
        where order_no = #{orderNo};
    </delete>
</mapper>
